<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PYPI Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    {% if not error %}
    <div class="container col-md-12 bg-secondary">
        <div class="row justify-content-md-center bg-info">
            <h2>{{package.name}}  {{package.version}}</h2>
        </div>
        <div class="row justify-content-md-center bg-info">
                    {{package.summary}}
        </div>
        <div class="row package">
            <div class="col-md-3 bg-secondary">
                <div class="row">
                    <h3>Package Info</h3>
                </div>
                <div class="row bg-info">
                    <ul class="list-group w-100 bg-light">
                        <li class="list-group-item bg-light"><p class="font-weight-bold">Author:<a href="mailto:{{package.author_email}}">{{package.author}}</a></p></li>
                        <li class="list-group-item bg-light"><p class="font-weight-bold">License:{{package.license}}</p></li>
                        <li class="list-group-item bg-light"><p class="font-weight-bold">Requires:</p>{{package.requires_dist}}</li>
                        <li class="list-group-item bg-light"><p class="font-weight-bold">Python:</p>{{package.requires_python}}</li>
                    {% if package.maintainer %}
                        <li class="list-group-item bg-light"><p class="font-weight-bold">Maintainer(s):</p> {{package.maintainer}}</li>
                        <li class="list-group-item bg-light"><p class="font-weight-bold">Maintainer(s) email(s):</p> {{package.maintainer_email}}</li>
                    {%endif%}
                    </ul>
                </div>
                <div class="row border-right">
                    <h3>Links</h3>
                </div>
                <div class="row">
                    <ul class="list-group w-100 bg-light">
                        <li class="list-group-item bg-light"><a class="font-weight-bold" href="{{package.home_page}}">Homepage</a></li>
                        {% if package.docs_url %}
                        <li class="list-group-item bg-light"><a class="font-weight-bold" href="{{package.docs_url}}">Documentation</a></li>
                        {%endif%}
                        {% if package.project_url %}
                        <li class="list-group-item bg-light"><a class="font-weight-bold" href="{{package.project_url}}">Source</a></li>
                        {%endif%}
                        {% if package.release_url %}
                        <li class="list-group-item bg-light"><a class="font-weight-bold" href="{{package.release_url}}">Release</a></li>
                        {%endif%}
                    </ul>
                </div>
                {% if package.classifiers %}
                <div class="row border-bottom">
                    <h3>Classifiers</h3>
                </div>
                <div class="row">
                    <ul class="list-group w-100 bg-light">
                    {%for item in package.classifiers%}
                        <li class="list-group-item bg-light">{{item}}</li>
                    {%endfor%}
                    </ul>
                </div>
                {%endif%}
                <div class="row border-bottom">
                    <h3>Downloads</h3>
                </div>
                <div class="row">
                    <ul class="list-group w-100 bg-light">
                        {% for item in package.downloads %}
                        <li class="list-group-item bg-light">{{item}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9 bg-light desc-col">
                <div class="row border-bottom bg-secondary">
                    <h3>Description</h3>
                </div>
                <div class="row border-bottom">
                    <div class="description">
                        {{package.description | safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger p-3" role="alert">
        {{error}}
    </div>
    {% endif %}

</body>
</html>